<!-- 

 -->
<configuration debug="false">
  <appender name="CONSOLA" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!--niveles TRACE, DEBUG, INFO, WARN y ERROR.-->
  <root level="debug">
    <appender-ref ref="CONSOLA" />
  </root>

</configuration>