<configuration debug="false">
  <appender name="CONSOLA" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="LOG_PRINCIPAL" class="ch.qos.logback.core.FileAppender">
      <file>./LogPrincipal.log</file>
      <append>true</append>
      <filter class="org.ruben.java.logback.logsFiltros.FiltroLogPrincipal" />
      <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
  </appender>

  <appender name="LOG_SECUNDARIO" class="ch.qos.logback.core.FileAppender">
      <file>./LogSegundario.log</file>
      <append>true</append>
      <filter class="org.ruben.java.logback.logsFiltros.FiltroLogSecundario" />
      <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
  </appender>

  <!--niveles TRACE, DEBUG, INFO, WARN y ERROR.-->
  <root level="debug">
    <appender-ref ref="CONSOLA" />
    <appender-ref ref="LOG_PRINCIPAL" />
    <appender-ref ref="LOG_SECUNDARIO" />
  </root>

</configuration>